@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px 1fr 150px;
}

footer {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.slider {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: 3;
}

.slide {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

body {
  font-family: 'Roboto', sans-serif;
  background: rgb(0, 0, 0);
  color: #fff;
  line-height: 1.6;
}

.slider {
  position: relative;
  overflow: hidden;  
  height: 100%;
  width: 100%;
  }

.slide {
  position: absolute;
  top: 5em;
  left: 0em;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.slide.current {
  opacity: 1;
}

.slide .content {
  position: absolute;
  bottom: 70px;
  left: -600px;
  opacity: 0;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  padding: 35px;
}

.slide .content h1 {
  margin-bottom: 10px;
}

.slide.current .content {
  opacity: 1;
  transform: translateX(600px);
  transition: all 0.7s ease-in-out 0.3s;
}

.buttons button#next {
  position: absolute;
  top: 40%;
  right: 15px;
}

.buttons button#prev {
  position: absolute;
  top: 40%;
  left: 15px;
}

.buttons button {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 50%;
  outline: none;
}

.buttons button:hover {
  background-color: #fff;
  color: #333;
}

@media (max-width: 500px) {
  .slide .content {
    bottom: -300px;
    left: 0;
    width: 100%;
  }

  .slide.current .content {
    transform: translateY(-300px);
  }
}



/* Backgorund Images */
 
.slide:first-child {
  background: url(/slider_test/1_The_Search.jpg) no-repeat
    center top/cover;
    ;
}
.slide:nth-child(2) {
  background: url(/slider_test/2_Cub-Ital.jpg) no-repeat
    center top/cover;
}
.slide:nth-child(3) {
  background: url(/slider_test/3_Gus_Fring.jpg) no-repeat
    center top/cover;
}
.slide:nth-child(4) {
  background: url(/slider_test/4_Mike_Ehrmantraut.jpg) no-repeat
    center top/cover;
}
.slide:nth-child(5) {
  background: url(/slider_test/5_Whisper.jpg) no-repeat
  center top/cover;
} 
.slide:nth-child(6)  {
  background: url(/slider_test/7_Hannibal_Lecter.jpg) no-repeat
    center center/cover;
}


/* Navigation css insert */

/* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} */
body {
    font-family: 'Playfair Display', serif;
    color: #ffff;
    
}
.navbar {
    font-size: 18px;
    background-color: black;
    /* background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf   100%); */
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
}
.main-nav {
    list-style-type: none;
    display: none;
}
.nav-links,
.logo {
    text-decoration: none;
    color: #ffffff;
    /* color: rgba(255, 255, 255, 0.7); */
}

    .main-nav a:hover {
        border-bottom: 2px solid #ff0000;
      
       }
      

.main-nav li {
    text-align: center;
    margin: 15px auto;
}
.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer; 
    color: rgba(255,255,255,0.8);
    font-size: 24px;
    
}

.active {
    display: block;
  }


  /* Footer CSS */

  .footer {
    clear: both;
    max-height: 2;
    transition: max-height .2s ease-out;
    padding: 5px 5px;
    background-color:black;
    color: white;
    font-size: 25px;
  
  }
    .fa {
      padding: 0px;
      text-align: center;
      text-decoration: none;
      margin: 5px 5px;
    }
    
    .fa:hover {
        opacity: 0.7;
        color: red;
    }
    
    .fa-facebook {
      background: #000000;
      color: white;
    }
    
    .fa-twitter {
      background: #000000;
      color: white;
    }
    
    .fa-linkedin {
      background: #000000;
      color: white;
    } 

    .fa-instagram {
      background: #000000;
      color: white;
    } 
    